body{
    font-family: "Hiragino kaku Gothic ProN","メイリオ",sans-serif;
}

h1{
    width: 500px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-left: 4px solid red;
    font-size: 20px;
}

.confirm{
    width: 450px;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
    border: 3px solid #ebebeb;
    background-color: #fbfbfb;
    margin: 0 auto;
}


.buttons{
    display: flex;
    column-gap: 15px;
}

.button1{
    background-color: #bfbfbf;
    color: white;
    border:1px solid lightgray;
    border-bottom: 2px solid gray;
    border-radius: 5px; 
    padding: 4px 10px;
}

.button2{
    background-color: darkorange;
    color: white;
    border:1px solid lightgray;
    border-bottom: 2px solid #E08600;
    border-radius: 5px;
    padding: 4px 10px;
}